<!doctype html>
<html>
  <head>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
  </head>
  <body>
     <h1>The Human Database</h1>
    <div class="whitebox">

  
      <br><br><br>
      <a href="people/" class="button-link">People Page</a>
      <br><br><br>
      <a href="people/new" class="button-link">Add a new person</a>
    </div>
  </body>
</html>